:root {
    --black: #000000;
    --white: #ffffff; 
    --grey: #d1d3d4; 
    --orange: #e37646;
    --light: #e6e0dd;
    --roboto: "Roboto", sans-serif;
} 

* {
    margin: 0;
    padding: 0;
} 

body { 
    background-attachment: fixed; 
    background-color: var(--black);
    background-image: url(assets/topografía.png); 
    background-position: center -120px;
    background-repeat: no-repeat;
    background-size: auto;  
    color: var(--white)!important;
    font-family: var(--roboto)!important;
}

/* backgrounds */ 

.bg-black { background: var(--black) }

.bg-light { background: var(--light) }

.bg-orange { background: var(--orange) }

.bg-linear-gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
}

.bg-linear-gradient-inverse {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .85) 100%);;
}

.bg-landscape {
    background-attachment: fixed;
    background-image: url(assets/background-landscape.jpg);
    background-position: center;
    background-size: 100vh!important;
}

/* typography */ 
 
.h2{
    color: var(--orange); 
    font-size: 70px;
    font-style: normal;
    font-weight: 100; 
}

.h3 {
    font-size: 24px;
    font-weight: 500;
    padding: 16px 0;
    position: relative;
}

.h3:before {
    background: white; 
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: -16px; 
    width: 64px;
} 

.h4{
    font-size: 40px;
    font-weight: 200;
}  

.blockquote{
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
    padding: 24px 0;
    position: relative;
} 

.blockquote:before{
    background: white; 
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: -24px; 
    width: 48px;
} 

.blockquote-footer cite{
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
}

.blockquote-footer:before{
    content: none;
}  

/* svg */

.svg * {
    fill: none;
    stroke: var(--white)!important;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
}

.svg.submit path {
    stroke: var(--black) !important;
    stroke-width: 128px !important;
}

/* buttons */

.btn-submit {
    background: var(--white);
    border-radius: 50px;
    cursor: pointer;
    height: 90px;
    transition: all .1s ease-in-out;
    width: 90px;
}

.btn-submit object {
    cursor: pointer;
    margin: 5px 0 0 5px;
    opacity: .55;
    pointer-events: none;
    transform: rotate(-45deg);
}

.btn-submit:active,
.btn-submit:hover,
.btn-submit:focus,
.btn-submit:focus-within,
.btn-submit:focus-visible {
    background: #fff;
    border: none;
    opacity: .9;
}
 
/* nav */ 

.navbar-nav .nav-item .nav-link{
    font-size: 18px;
    font-weight: 400;
    padding: 8px 32px;
}

.navbar-toggler:focus,
.navbar-toggler:focus-visible{
    box-shadow: none;
    outline: none;
}

.offcanvas{
    background-color: var(--black);
    color: var(--white);
}

.offcanvas .offcanvas-header .btn-close{
    filter: invert();
} 

/* slider */

.carousel-indicators{
    border-bottom: 2px solid var(--white);
    bottom: -32px;
    margin: 0;
    justify-content: space-between; 
} 

.carousel-indicators [data-bs-target]{
    background: rgba(255,255,255,0);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    height: 6px;
    line-height: 48px;
    margin-left: auto;
    margin-right: auto;
    min-width: 72px;
    opacity: 1;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    text-indent: 0;
    transition: all .3s ease-in-out;
    width: auto;
}

.carousel-indicators [data-bs-target]:nth-last-child(){
    margin-right: 0;
}

.carousel-indicators .active{ 
    background: rgba(255,255,255,1); 
}

/* services */ 

.services article p {
    border-bottom: 1px solid white;
    flex-grow: 1;
    font-size: 17px; 
    font-weight: 300;
    height: 100%;
    line-height: 22px;
    padding-bottom: 16px;
} 
 
.services article p strong { font-weight: 500 } 

/* nosotros */

.list-years { counter-reset: year 2015 }

.list-years .list-inline-item { 
    color: #403a3b; 
    font-size: 12px; 
    transform: rotate(-90deg);
}

.list-inline-item:before {
    background: var(--grey);
    border-radius: 50px;
    content: counter(year);
    counter-increment: year;
    display: inline-block;
    height: 10px; 
    line-height: 10px;
    text-indent: 24px;
    width: 10px;
}

.list-years .list-inline-item:nth-child(2):before,
.list-years .list-inline-item:nth-child(9):before {
    color: #231f20;
    height: 16px;
    line-height: 18px;
    text-indent: 26px;
    width: 16px;
}

.list-years .list-inline-item:nth-child(n + 9):before {
    background: var(--orange);
}

/* form */

.form-label{
    color: var(--white);
    font-size: 22px;
    font-weight: 200;
}

.form-control{
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--white); 
    border-radius: 0;
    font-size: 22px;
}

.form-control:focus {  
    background-color: transparent;
    border-color: var(--white);
    box-shadow: none;
    outline: 0;
}
 
.form-control::-moz-placeholder,
.form-select::-moz-placeholder {
    opacity: .5;
}

.form-control:-ms-input-placeholder,
.form-select:-ms-input-placeholder {
    opacity: .5;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder {
    opacity: .5;
}

.form-control::-webkit-input-placeholder,
.form-select::-webkit-input-placeholder { 
    opacity: .5;
}

.form-control::placeholder,
.form-select::placeholder { 
    opacity: .5;
}

input:-webkit-autofill:focus { 
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

input:focus-visible{ 
    outline: none;
}

.custom-select, 
.custom-phone { 
    position: relative;
}

.custom-phone .form-control{
    text-indent: 40px;
} 

.custom-phone::after { 
    background-repeat: no-repeat;
    bottom: 23px;
    color: var(--black);
    content: "+54"; 
    font-size: 23px;
    height: 20px;
    left: 20px;
    opacity: .3;
    pointer-events: none;
    position: absolute;
    width: 20px;
} 
 
.custom-select::after { 
    background-image: url(assets/arrow.svg);
    background-repeat: no-repeat;
    bottom: 7px;
    content: "";
    height: 20px;
    pointer-events: none;  
    position: absolute;
    right: 12px;
    width: 20px;
}  

select::-ms-expand {
    display: none;
}

.form-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-bottom: 1px solid var(--white);
    border-radius: 0px;
    font-size: 24px;
}

.form-select:focus, .form-select:focus-within{
    border: none;
    border-bottom: 1px solid var(--white);
    box-shadow: none;
    outline: none;
}  

.form-select:invalid { color: #9d5740; }

.form-select:valid { color: var(--black); }

/* media queries */

@media (min-width: 520px){

    .h2.extra-size { font-size: 124px } 

    .h4 { font-size: 52px }  
 
    .navbar-nav .nav-item .nav-link { font-size: 14px }

    .carousel-indicators { justify-content: start } 

    .carousel-indicators [data-bs-target]{  
        margin-left: 0; 
        margin-right: 24px; 
        padding-left: 0;
        text-align: left; 
        text-indent: 0;
    }

}